header img {
    height: 180px;
    width: 378px;
}

main img {
    width: 380px;
}

.btn-success {
  background-color: #25D366;
  border-color: #25D366;
}

.btn-success:hover {
  background-color: #1ebe5d;
  border-color: #1ebe5d;
}

.whatsapp-wrapper {
    padding: 10px;
    width: 100%;
}

main h1 {
     font-family: "Raleway", sans-serif;
     text-align: center;
     color: gold;
}

main h2 {
     font-family: "Raleway", sans-serif;
     font-size: 20px;
    padding-left: 8px;
}