header img {
    height: 230px;
    width: 400px;
}

main img {
    width: 380px;
}

.btn-success {
  background-color: #25D366;
  border-color: #25D366;
}

.btn-success:hover {
  background-color: #1ebe5d;
  border-color: #1ebe5d;
}

.whatsapp-wrapper {
    padding: 10px;
    width: 100%;
}

main h1 {
     font-family: "Raleway", sans-serif;
     text-align: center;
     color: gold;
    padding-top: 15px;
    padding-bottom: 8px;
}

main h2 {
     font-family: "Raleway", sans-serif;
     font-size: 20px;
    padding-left: 8px;
    padding-bottom: 13px;
}

.carousel-inner img {
    height: 300px;
}

.card {
  border: none;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

#cards img {
    height: 200px;
}

#cards h2 {
    
}