header img {
    height: 180px;
    width: 378px;
}

main img {
    width: 380px;
}

.btn-success {
  background-color: #25D366;
  border-color: #25D366;
}

.btn-success:hover {
  background-color: #1ebe5d;
  border-color: #1ebe5d;
}

.whatsapp-wrapper {
    margin: 10px 5px 5px 5px;
    width: 90%;
}